.upload-filter-label-phobos .upload-filter-preview,
.filter-phobos {
  -webkit-filter: saturate(2.5) hue-rotate(-30deg);
          filter: saturate(2.5) hue-rotate(-30deg);
}

.upload-filter-label-heat .upload-filter-preview,
.filter-heat {
  -webkit-filter: contrast(1.1) brightness(1.3) saturate(2.4) sepia(0.4);
          filter: contrast(1.1) brightness(1.3) saturate(2.4) sepia(0.4);
}
